
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');


body{
	font-family: 'Open Sans', sans-serif;
	padding:0;
	margin: 0;
}


h1{
	font-weight: 800;
	font-size: 50px;
}

h4{
	font-weight: bold;
	font-size: 20px;
}

.wrapper{
	width: 960px;
	margin:0 auto;
}

.hero-banner {
	background-color: #007fff;
	min-height: 100vh;
	padding: 50px 20px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}



a.cta,
button.cta{
	font-size: 30px;
	font-weight: bold;
	color: white;
	background: #007fff;
	display: inline-block;
	box-shadow:0 0 0 10px rgba( 0 127,255,.15);
	padding: 20px 30px;
	border-radius: 10px;
	text-decoration: none;
}

a.cta,
button.cta.alt{
	background-color: #FFD400;
	color: black;
	box-shadow: 0 0 0 10px rgba(0,0,0,.15);	
}

.character1{
	background: url(img/circle-guy.png) no-repeat 0 0;
	background-size: 100%;
	position: absolute; top: 10%;	right: 10%;
	transform: rotate(15deg);
	width: 363px;
	height: 344px;
	transform: rotate(15deg);

}

.character2{
	background: url(img/hat-guy.png) no-repeat 0 0;
	background-size: 100%;
	position: absolute; top: 213px;	right: 277px;
	width: 309px;
	height: 371px;
}

.character3{
	background: url(img/eish-guy.png) no-repeat 0 0;
	background-size: 100%;
	position: absolute; bottom: 74px;	right: 109px;
	width: 297px;
	height: 286px;
}

.hero-banner h4,
.hero-banner h4 a {
	color: white;
	margin: 0;
}

.hero-banner h1{
	color: white;
	margin: 14px 0 20px;
}

h3{
	font-weight: bold;
	font-size:30px;
}

.hero-banner h3{
	color: white;
	margin: 0 0 35px;
}

/*
<div class="hero-banner">
	<div class="wrapper">
		<h4>Rich from <a href="http://taptapkaboom.com">Tap Tap Kaboom </a> presents </h4>	
		<h1> The Silliest &amp; <br> 
			Most Awesome <br/>
		In the World!</h1>
		<h3>It's Circle Guy, Hat Guy &amp;	Red Guy. <br/>
		They're the best of friends. </h3>
		<a class="cta alt" href="#more-info">Read More</a>
	</div>
	<div class="character1"></div>
	<div class="character3"></div>
	<div class="character3"></div>
</div>




/*